.carouselContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0px 20px;
  
    &__slide {
      display: inline-block;
      position: relative;
      text-align: center;
      img {
        width: 300px;
      }
    }
  
    &__caption {
      position: absolute;
      bottom: 8px;
      left: 50%;
      color: red;
      font-size: 2em;
    }
    &__image {
      margin-left: 36%;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }