


.navbarContainer {
  // display: flex;
  // justify-content: space-between;
  // width: 1200px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: 1fr;
  grid-column-gap: 15px;
  // grid-row-gap: 4px;
  margin: 20px;

  &__logo {
    width: 500px;
    height: 30px;
    border: none;
    margin: 0px -10px;
    border-radius: 10px;
  }
  &__searchBar {
    input {
      height: 50px;
      margin: 10px 30px 10px -60px;
      background-color: #505050;
      border: none;
      border-radius: 10px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__login {
    background-color: red;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
  }
  &__getApp {
    background-color: #505050;
    color: white;
    padding: 0px 15px;
    margin: 15px 0 15px 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-radius: 15px;
    svg {
      margin: 15px 0 0 0;
    }
    
  }


}
